@font-face {
    font-family: "Inter";
    src: url(./assets/Fonts/Intern/Inter.ttf) format(truetype);
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Playfair Display";
    src: url(./assets/Fonts/PlayfairDisplay/PlayfairDisplay.ttf) format(truetype);
    font-display: swap;
    font-style: normal;
}

*{
    box-sizing:border-box;
    margin:0;
}
body{
    color: azure;
    background-repeat: no-repeat;
    background-position: center center;
    background-size:cover;
    min-height: 100vh;
    background-image: url(./assets/images/michael-discenza-5omwAMDxmkU-unsplash.jpg);
}
h1{
    text-align: center;
    margin:15vh 0 10vh 0;
}
.countdown-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5vw;
    height: 25vh;
    background-color: rgba(255,255,255,0.30);
    text-align: center;
    backdrop-filter: blur(20px,);
    border: 1px rgba(255,255,255,0.18);
}
.big-text{
    font-size: xx-large;
    font-weight: 700;
}